.App {
  text-align: center;
}

.App-header {
  /* disable scrollbar */
  overflow: hidden;

  /* background-color: black; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: linear-gradient(#08081f, #0d1117);
  background-image: linear-gradient(rgb(8, 8, 31), rgb(13, 17, 23));
}
